/**************************** FONT LINK ******************************/

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

/**************************** CSS RESET ******************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend' , Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}

/**************************** BUTTONS ******************************/

.btn-design {
    font-family: 'Lexend', Arial, Helvetica, sans-serif;
    background-color: #000043;
    color: #ffffff;
    font-size: 30px;
    padding: 0.5rem;
    align-items: center;
    border-radius: 2.5rem;
    border: none;
    outline: none;
}

.btn-design-contact {
    font-family: 'Lexend', Arial, Helvetica, sans-serif;
    background-color: #000043;
    color: #ffffff;
    font-size: 20px;
    padding: 0.5rem;
    align-items: center;
    border-radius: 2.5rem;
    border: none;
    outline: none;
}

.btn-secondary {
    font-family: 'Lexend', Arial, Helvetica, sans-serif;
    background-color: #4054B2;
    color: #ffffff;
    font-size: 20px;
    padding: 0.5rem;
    align-items: center;
    border-radius: 2.5rem;
    border: none;
    outline: none;
}

.btn-design:hover {
    color: #ffffff;
    background-color: #4054B2;
}

.btn-secondary:hover {
    color: #ffffff;
    background-color: #000043;
}

.btn-secondary-layout {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -240px;
    margin-top: -10px;
}

.btn-secondary-layout-1 {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -50px;
    margin-top: -10px;
}
.btn-secondary-layout-2 {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 200px;
    margin-top: 10px;
}

/**************************** NAVIGATION ******************************/

.logo {
    color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.5rem;
    color: #ffffff;
    background-color: #000043;
    opacity: 90%;
    position: relative;
    z-index: 10;
}

.nav-item {
    padding: 0.5rem;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-left: -3rem;
}

.nav-links li {
    margin: 0 0.75em;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.7rem;
}

.nav-item:hover {
    color: #4054B2;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar btn {
    padding: 0.4rem 2rem;
    border: none;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 1.2rem;
}

.search-bar input {
    padding: 0.4rem 2rem;
    border: none;
    outline: none;
    border-radius: 1.2rem;
}

/**************************** COMPONENTS ******************************/

.product-image {
    position: relative;
}

.product-image img {
    width: 100%;
    object-fit: cover;
}

.img-size {
    width: auto;
    object-fit: cover;
}

.img-size img {
    width: auto;
    height: 77px;
}

.crop-img-top {
    width: 300px;
    height: 150vh;
    object-fit: cover;
    object-position: bottom;
}

.crop-img-top-page {
    width: 300px;
    height: 75vh;
    object-fit: cover;
    object-position: bottom;
}

.crop-img-bottom {
    width: 100%;
    height: 115vh;
    object-fit: cover;
    object-position: top;
}

.container {
   width: 100%;
   height: auto;
   position: relative;

}

.container img {
    width: 100%;
    margin-top: -400px;
}

.container .text {
    position: absolute;
    color: #ffffff;
    left: 100px;
    bottom: 80px;
    font-size: 48px;
    padding: 20px;
    margin-bottom: 12px;
}

.caption-design {
    font-family: 'Lexend', Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: bold;
}

.caption-flex {
    display: flex;
    color: #ffffff;
}

.overlap {
    margin-top: -7rem;
}

/**************************** CONTAINERS ******************************/

.box-container {
    display: flex;
    gap: 10px;
    margin-bottom: 500px;
    justify-content: center;
    position: relative;
    z-index: 10;
}

.box-container-display {
    background-color: #000043;
    color: #ffffff;
    font-size: 24px;
    padding: 30px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    margin: 30px;
}

.box-container-display:hover {
    background-color: #4054B2;
}


/**************************** MOBILE LAYOUT ******************************/

@media ( max-width: 600px ) {

    .container {
        margin: 1rem;
    }
    
    .sm-grid-1col {
        display: grid;
        grid-template-columns: 1fr;
    }

    .sm-grid-2col {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/**************************** CONTACT FORM ******************************/

.contact-form label {
    display:block;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
    appearance: none;

    border-color: var(--muted);
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;

    display: block;
    width: 100%;

    font-size: 1em;
    font-family: var(--font-base);
    padding: var(--space-1);
}

.contact-form textarea {
    resize: none;
}

.contact-form div {
    margin: var(--space-1) 0;
}

.contact-form .error {
    color: #c00;
    font-size: 0.8em;
    display: none;
}

/**************************** COURSES ******************************/

.container-one {
    position: absolute;
    width: 365px;
    height: 370px;
    left: 42px;
    top: 188px;
    display: flex;
    gap: 10px;
    margin: 10px;

    background-color: #000043;
    color: #ffffff;
    font-size: 12px;
    font-family: 'Lexend', Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
}

.container-one-text {
    padding: 20px 20px;
    text-align: center;
}

.container-two {
    position: absolute;
    width: 700px;
    height: 150px;
    left: 455px;
    top: 210px;
    display: flex;

    background-color: #000043;
    align-items: center;
    justify-content: center;
}

.container-two-text {
    padding: 20px 20px;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}

.container-three {
    position: absolute;
    width: 700px;
    height: 150px;
    left: 455px;
    top: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #000043;
}

.container-three-text {
    padding: 20px 20px;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}

/**************************** FULL/PART TIME ******************************/

.circle-one {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 165px;
    top: 220px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    display: flex;

    background-color: #000043;
}

.circle-one-text {
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
}

.circle-one:hover {
    background-color: #4054B2;
    color: #ffffff;
}

.circle-two {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 770px;
    top: 220px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    display: flex;

    background-color: #000043;
}

.circle-two-text {
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
}

.circle-two:hover {
    background-color: #4054B2;
    color: #ffffff;
}

.box-layout {
    width: 490px;
    min-height: 150px;
    display: flex;
    margin: 140px 75px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;

    background-color: #000043;
}

.box-layout-text {
    color: #ffffff;
    font-size: 14px;
    text-align: center;
}

.box-layout-2 {
    position: absolute;
    width: 490px;
    min-height: 150px;
    left: 675px;
    top: 545px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;

    background-color: #000043;
}

.box-layout-text-2 {
    font-size: 14px;
    text-align: center;
    color: #ffffff;
}

/**************************** INSTITUTES ******************************/

.background-box {
    position: absolute;
    width: 479px;
    height: 800px;
    left: -3px;
    top: 0;
    z-index: 1;

    background-color: #4054B2;
}


.institute-1 {
    position: absolute;
    width: 1140px;
    height: 66px;
    left: 60px;
    top: 170px;
    z-index: 5;
    justify-content: center;
    align-items: center;

    background-color: #000043;
}

.institute-2 {
    position: absolute;
    width: 1140px;
    height: 66px;
    left: 60px;
    top: 265px;
    z-index: 5;
    justify-content: center;
    align-items: center;

    background-color: #000043;
}

.institute-3 {
    position: absolute;
    width: 1140px;
    height: 66px;
    left: 60px;
    top: 375px;
    z-index: 5;
    justify-content: center;
    align-items: center;

    background-color: #000043;
}

.institute-4 {
    position: absolute;
    width: 1140px;
    height: 66px;
    left: 60px;
    top: 492px;
    z-index: 5;
    justify-content: center;
    align-items: center;

    background-color: #000043;
}

.institute-5 {
    position: absolute;
    width: 1140px;
    height: 66px;
    left: 60px;
    top: 606px;
    z-index: 5;
    justify-content: center;
    align-items: center;

    background-color: #000043;
}

.institute-6 {
    position: absolute;
    width: 1140px;
    height: 66px;
    left: 60px;
    top: 720px;
    z-index: 5;
    justify-content: center;
    align-items: center;

    background-color: #000043;
}

.text-institute-style {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    font-size: 18px;

}