/**************************** FONT LINK ******************************/

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

/**************************** CSS RESET ******************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lexend, Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}

/**************************** BUTTONS ******************************/

.btn-design {
    font-family: Lexend, Arial, Helvetica, sans-serif;
    background-color: #000043;
    color: #ffffff;
    font-size: 24px;
    padding: 0.5rem;
    align-items: center;
    border-radius: 2.5rem;
    border: none;
    outline: none;
}

/**************************** NAVIGATION ******************************/

.logo {
    color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.7rem 1.7rem;
    color: #ffffff;
    background-color: #000043;
    opacity: 90%;
}

.nav-item {
    padding: 0.5rem;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 1.5rem;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.7rem;
}

.nav-item:hover {
    color: #4054B2;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar btn {
    padding: 0.4rem 2rem;
    border: none;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 1.2rem;
}

.search-bar input {
    padding: 0.4rem 2rem;
    border: none;
    outline: none;
    border-radius: 1.2rem;
}

.img-size {
    width: 20%;
    aspect-ratio: 21 / 9;
    object-fit: cover;
}
/**************************** COMPONENTS ******************************/

.product-image {
    position: relative;
}

.product-image img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.container-background {
    padding: 0;
    justify-content: end;
    display: block;
    position: absolute;
}

.caption-design {
    font-family: Lexend, Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.caption-flex {
    display: flex;
    color: #ffffff;
}

/**************************** MOBILE LAYOUT ******************************/

@media ( max-width: 600px ) {

    .container {
        margin: 1rem;
    }
    
    .sm-grid-1col {
        display: grid;
        grid-template-columns: 1fr;
    }

    .sm-grid-2col {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
