/**************************** FONT LINK ******************************/

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

/**************************** MOBILE LAYOUT ******************************/

@media ( max-width: 600px ) {

    .container {
        margin: var(--space-2);
    }
    
    .sm-grid-1col {
        display: grid;
        grid-template-columns: 1fr;
    }

    .sm-grid-2col {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
